@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.dotted-bg {
  background-image: radial-gradient(circle, #eaedec 3px, transparent 3px);
  background-size: 50px 50px;
} 